@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
/* 전체 레이아웃 */
.wrap {
  width: 960px;
  margin: auto;
}
.nav {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.nav ul {
  width: 600px;
  display: flex;
  margin: auto;
}
.nav ul li {
  width: calc(100% / 4);
  text-align: center;
}
.nav ul li a {
  display: block;
  /* line-height: 60px; */
  padding: 20px 0;
  background-color: rgb(214, 214, 255);
}
.nav ul li a:hover {
  background-color: blue;
  color: #fff;
}
#singUp {
  width: 400px;
  margin: 100px auto;
  padding: 20px 20px;
  background-color: rgb(255, 255, 255);
}
#singUp fieldset {
  padding: 20px;
  border: 2px solid #f0a4a4;
}
#singUp fieldset legend {
  font-size: 13px;
  padding: 0 10px;
}
#singUp li{
    padding: 10px 0;
}
.user label{
    width: 60px;
    display: inline-block;
}